@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body{
    margin-top: 40px;
}

.panel.panel-info{
    min-height: 200px;
}

footer{
    border-top: 2px solid white;
    width: 700px;
    margin-top: 30px;
}

ul{
    width: 100%
    display:table;
    margin-top: 40px;
}

li{
    width: 20%;
    display:inline-block;
    text-align:center;
}

.content{
    margin-top: 30px;
}

.header{
    margin-bottom: 60px;
}

.jumbotron a{
  text-decoration: none;
}

.jumbotron a:hover{
  text-decoration: none;
}
