@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body{
    margin-top: 40px;
}

footer{
    border-top: 2px solid white;
    width: 700px;
    margin-top: 30px;
}

i{
    margin-top: 20px;    
}

.content{
    margin-top: 30px;
}

.header{
    margin-bottom: 60px;
}

@media (max-width: 767px) {
  body {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}